* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #128ff2;
    content: "";
    z-index: 0;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 20px;
    border: 1px solid #c8c8c8;
}

.input-block {
    min-height: 38px;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 12px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
    margin-top: 3%;
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

.button-container {
    float:right
}


.register-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    height: calc(100% - 30px);
    max-height: 5700px;
    position: relative;
}

.error {
    padding-top: 5px;
    text-align: center;
    color: red;
    top: 65px;
    width: 100%;
}

#register-page {
    position: relative;
    height: 100%;
    list-style-type: none;
    background-color: #128ff2;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    line-height: 1.5rem;
    padding: 10px 20px;
    border-bottom: 1px solid #f4f4f4;
}

#register-page #registerForm {
    padding: 20px;
}

#registerForm .input-group input {
    float: right;
    width: calc(100% - 250px);
}

#registerForm .input-group button {
    float: right;
    width: 100px;
    height: 38px;
    margin-left: 5px;
}

.register-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.register-header h2 {
    margin: 0;
    font-weight: 500;
}


@media screen and (max-width: 730px) {

    .register-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .register-container {
        height: calc(100% - 30px);
    }

    #register-page {
        height: calc(100% - 150px);
    }

    #registerForm .input-group button {
        width: 65px;
    }

    #registerForm .input-group input {
        width: calc(100% - 200px);
    }

    .register-header {
        padding: 10px;
    }

    .register-header h2 {
        font-size: 1.1em;
    }
}